<a href="https://colab.research.google.com/github/ThomasL642/Thomas/blob/main/Neural_Network_Housing_Price_Predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import keras 
import numpy as np
import pandas as pd #import package
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DATA/Iowa housing prices v2 - Sheet1.csv") #File directory
df.head() #Show frist 5 things

   YearBuilt  2ndFlrSF  GrLivArea  ...  TotRmsAbvGrd  YrSold  SalePrice
0       2003       854       1710  ...             8    2008     208500
1       1976         0       1262  ...             6    2007     181500
2       2001       866       1786  ...             6    2008     223500
3       1915       756       1717  ...             7    2006     140000
4       2000      1053       2198  ...             9    2008     250000

[5 rows x 9 columns]

In [ ]:
X = df.drop(columns = ["SalePrice"]) #define x(all columns but saleprice) and y values
Y = df[["SalePrice"]]

In [ ]:
model = keras.Sequential()

model.add(keras.layers.Dense(8,activation="relu",input_shape=(8,))) #expriement to find out how many neurons to use but genrally people assign the same amount of neurons as attributs
model.add(keras.layers.Dense(8, activation="relu"))
model.add(keras.layers.Dense(1)) #one neuron because its the output

model.compile(optimizer="Adam",loss="mean_squared_error", metrics=["accuracy"])

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

In [ ]:
len(X_test)

292

In [ ]:
model.fit(X_train,Y_train, epochs=30) #callbacks=[keras.callbacks.EarlyStopping(patience=5)])

Epoch 1/30
37/37 [==============================] - 0s 970us/step - loss: 2808162048.0000 - accuracy: 0.0000e+00
Epoch 2/30
37/37 [==============================] - 0s 937us/step - loss: 2803151104.0000 - accuracy: 0.0000e+00
Epoch 3/30
37/37 [==============================] - 0s 953us/step - loss: 2805142016.0000 - accuracy: 0.0000e+00
Epoch 4/30
37/37 [==============================] - 0s 988us/step - loss: 2801011968.0000 - accuracy: 0.0000e+00
Epoch 5/30
37/37 [==============================] - 0s 940us/step - loss: 2802990080.0000 - accuracy: 0.0000e+00
Epoch 6/30
37/37 [==============================] - 0s 980us/step - loss: 2804329728.0000 - accuracy: 0.0000e+00
Epoch 7/30
37/37 [==============================] - 0s 935us/step - loss: 2805478144.0000 - accuracy: 0.0000e+00
Epoch 8/30
37/37 [==============================] - 0s 994us/step - loss: 2800102912.0000 - accuracy: 0.0000e+00
Epoch 9/30
37/37 [==============================] - 0s 906us/step - loss: 2803040000.0000 - accuracy: 0.0000e+00
Epoch 10/30
37/37 [==============================] - 0s 1ms/step - loss: 2799125504.0000 - accuracy: 0.0000e+00
Epoch 11/30
37/37 [==============================] - 0s 976us/step - loss: 2801497088.0000 - accuracy: 0.0000e+00
Epoch 12/30
37/37 [==============================] - 0s 1ms/step - loss: 2799171328.0000 - accuracy: 0.0000e+00
Epoch 13/30
37/37 [==============================] - 0s 1ms/step - loss: 2801069568.0000 - accuracy: 0.0000e+00
Epoch 14/30
37/37 [==============================] - 0s 1ms/step - loss: 2797710848.0000 - accuracy: 0.0000e+00
Epoch 15/30
37/37 [==============================] - 0s 1ms/step - loss: 2795781376.0000 - accuracy: 0.0000e+00
Epoch 16/30
37/37 [==============================] - 0s 1ms/step - loss: 2805026304.0000 - accuracy: 0.0000e+00
Epoch 17/30
37/37 [==============================] - 0s 960us/step - loss: 2797401088.0000 - accuracy: 0.0000e+00
Epoch 18/30
37/37 [==============================] - 0s 985us/step - loss: 2795834112.0000 - accuracy: 0.0000e+00
Epoch 19/30
37/37 [==============================] - 0s 1ms/step - loss: 2797889536.0000 - accuracy: 0.0000e+00
Epoch 20/30
37/37 [==============================] - 0s 1000us/step - loss: 2797323264.0000 - accuracy: 0.0000e+00
Epoch 21/30
37/37 [==============================] - 0s 950us/step - loss: 2797747712.0000 - accuracy: 0.0000e+00
Epoch 22/30
37/37 [==============================] - 0s 952us/step - loss: 2796531712.0000 - accuracy: 0.0000e+00
Epoch 23/30
37/37 [==============================] - 0s 1ms/step - loss: 2794543360.0000 - accuracy: 0.0000e+00
Epoch 24/30
37/37 [==============================] - 0s 977us/step - loss: 2792286464.0000 - accuracy: 0.0000e+00
Epoch 25/30
37/37 [==============================] - 0s 978us/step - loss: 2800850432.0000 - accuracy: 0.0000e+00
Epoch 26/30
37/37 [==============================] - 0s 960us/step - loss: 2790784000.0000 - accuracy: 0.0000e+00
Epoch 27/30
37/37 [==============================] - 0s 1ms/step - loss: 2791766272.0000 - accuracy: 0.0000e+00
Epoch 28/30
37/37 [==============================] - 0s 969us/step - loss: 2789376768.0000 - accuracy: 0.0000e+00
Epoch 29/30
37/37 [==============================] - 0s 962us/step - loss: 2791759616.0000 - accuracy: 0.0000e+00
Epoch 30/30
37/37 [==============================] - 0s 973us/step - loss: 2792179712.0000 - accuracy: 0.0000e+00

In [ ]:
print(Y_test)

      SalePrice
862      152000
425      135000
454      188000
994      337500
484      132500
...         ...
653      135000
18       159000
488      160000
558      175000
1419     223000

[292 rows x 1 columns]

In [ ]:
TEST = X_test
print(model.predict(TEST, batch_size=5))

[[142310.25 ]
 [142309.67 ]
 [233986.39 ]
 [233024.39 ]
 [127584.445]
 [107311.49 ]
 [123485.2  ]
 [179956.2  ]
 [211816.69 ]
 [160584.14 ]
 [262779.34 ]
 [101019.87 ]
 [207804.08 ]
 [308366.72 ]
 [251071.83 ]
 [ 82178.07 ]
 [215885.45 ]
 [128923.26 ]
 [174401.14 ]
 [120010.69 ]
 [137302.66 ]
 [ 98854.88 ]
 [225800.83 ]
 [152901.47 ]
 [ 74139.6  ]
 [319628.16 ]
 [287026.34 ]
 [107919.84 ]
 [118286.87 ]
 [179168.56 ]
 [160659.78 ]
 [201235.45 ]
 [146606.45 ]
 [235525.27 ]
 [269479.94 ]
 [177841.55 ]
 [264424.56 ]
 [121961.76 ]
 [183215.92 ]
 [ 97261.77 ]
 [156545.69 ]
 [119762.766]
 [187407.36 ]
 [164812.64 ]
 [138320.84 ]
 [187640.36 ]
 [275590.56 ]
 [180774.92 ]
 [151618.89 ]
 [148974.03 ]
 [183737.25 ]
 [ 96633.24 ]
 [142928.84 ]
 [158491.7  ]
 [189803.4  ]
 [206632.83 ]
 [185107.98 ]
 [203572.34 ]
 [196723.1  ]
 [103558.25 ]
 [171936.8  ]
 [151340.86 ]
 [223473.52 ]
 [280487.25 ]
 [ 79705.336]
 [187265.56 ]
 [142879.39 ]
 [232590.67 ]
 [201493.42 ]
 [157028.83 ]
 [101298.43 ]
 [139208.03 ]
 [175109.83 ]
 [278352.06 ]
 [233342.61 ]
 [166438.95 ]
 [259046.45 ]
 [283395.75 ]
 [241504.7  ]
 [163637.1  ]
 [200508.05 ]
 [141820.08 ]
 [211008.17 ]
 [112466.96 ]
 [166121.34 ]
 [170938.25 ]
 [133673.67 ]
 [177956.45 ]
 [107970.37 ]
 [107670.9  ]
 [254540.36 ]
 [119324.96 ]
 [138443.06 ]
 [161178.4  ]
 [231659.11 ]
 [166697.89 ]
 [223477.58 ]
 [231401.45 ]
 [145325.03 ]
 [225749.4  ]
 [188544.36 ]
 [368875.16 ]
 [129056.62 ]
 [185329.98 ]
 [112881.85 ]
 [177836.17 ]
 [180446.33 ]
 [233586.33 ]
 [179654.19 ]
 [184470.58 ]
 [192215.5  ]
 [ 90638.766]
 [209437.03 ]
 [122064.336]
 [181940.8  ]
 [227261.67 ]
 [123846.5  ]
 [224059.31 ]
 [181590.95 ]
 [217177.84 ]
 [162047.12 ]
 [112435.62 ]
 [112348.71 ]
 [168656.88 ]
 [209324.61 ]
 [265012.78 ]
 [117684.65 ]
 [108042.89 ]
 [139510.92 ]
 [159873.88 ]
 [233812.77 ]
 [191685.89 ]
 [194084.38 ]
 [165495.48 ]
 [151100.64 ]
 [182974.11 ]
 [142467.28 ]
 [146088.39 ]
 [135892.56 ]
 [157693.56 ]
 [145590.33 ]
 [211100.52 ]
 [147586.05 ]
 [369712.47 ]
 [245120.08 ]
 [227374.58 ]
 [107956.87 ]
 [288620.34 ]
 [257444.89 ]
 [115878.52 ]
 [180080.11 ]
 [188964.44 ]
 [218582.53 ]
 [188143.11 ]
 [160446.89 ]
 [295635.2  ]
 [199576.69 ]
 [179268.97 ]
 [179272.3  ]
 [116795.65 ]
 [254869.38 ]
 [222994.61 ]
 [189624.6  ]
 [155027.98 ]
 [135007.23 ]
 [320795.5  ]
 [227584.22 ]
 [270274.47 ]
 [125966.47 ]
 [ 96584.35 ]
 [198315.42 ]
 [144046.23 ]
 [251088.89 ]
 [134950.14 ]
 [176661.81 ]
 [200355.98 ]
 [229307.11 ]
 [144942.47 ]
 [386543.28 ]
 [125904.48 ]
 [173850.84 ]
 [233986.39 ]
 [135737.58 ]
 [219271.9  ]
 [141916.45 ]
 [194409.48 ]
 [162402.56 ]
 [217601.14 ]
 [133888.64 ]
 [160792.45 ]
 [177693.95 ]
 [196788.52 ]
 [174907.3  ]
 [190009.45 ]
 [159039.42 ]
 [108160.96 ]
 [120662.14 ]
 [173786.16 ]
 [202353.62 ]
 [177771.95 ]
 [144921.72 ]
 [112308.85 ]
 [267793.94 ]
 [128032.555]
 [107705.086]
 [150962.98 ]
 [257144.97 ]
 [148497.67 ]
 [169726.78 ]
 [177463.52 ]
 [153954.14 ]
 [204229.36 ]
 [123537.09 ]
 [192127.36 ]
 [189794.14 ]
 [235414.48 ]
 [126963.664]
 [156974.4  ]
 [161984.64 ]
 [206969.5  ]
 [251539.86 ]
 [201092.78 ]
 [126752.586]
 [165233.31 ]
 [173891.1  ]
 [185003.48 ]
 [160833.94 ]
 [146949.77 ]
 [ 95801.93 ]
 [162480.14 ]
 [125131.12 ]
 [136221.2  ]
 [128392.47 ]
 [231463.4  ]
 [128974.73 ]
 [132055.95 ]
 [218886.89 ]
 [123849.586]
 [215206.67 ]
 [113561.19 ]
 [181696.17 ]
 [194986.5  ]
 [174649.05 ]
 [172182.62 ]
 [223096.02 ]
 [145227.12 ]
 [172790.47 ]
 [250693.9  ]
 [178864.39 ]
 [121286.164]
 [165234.27 ]
 [170878.83 ]
 [159319.48 ]
 [185100.8  ]
 [197457.52 ]
 [117782.98 ]
 [269688.78 ]
 [168847.67 ]
 [232022.36 ]
 [209930.34 ]
 [234311.45 ]
 [186832.52 ]
 [173701.8  ]
 [250164.06 ]
 [240384.02 ]
 [114877.29 ]
 [174273.52 ]
 [192265.58 ]
 [ 95387.164]
 [ 51934.96 ]
 [224386.52 ]
 [145358.22 ]
 [108079.914]
 [277455.53 ]
 [187829.48 ]
 [214008.05 ]
 [182575.   ]
 [308432.03 ]
 [110228.35 ]
 [164782.23 ]
 [216780.23 ]
 [175423.73 ]
 [ 94204.414]
 [110666.9  ]
 [232266.14 ]
 [130093.086]
 [139994.53 ]
 [151231.92 ]
 [145201.2  ]
 [292967.16 ]
 [149458.58 ]
 [250834.36 ]]

In [ ]:
test_data = np.array([2003,854,1710,2,1,3,8,2008])
print(model.predict(test_data.reshape(1,8), batch_size=1))

[[182665.97]]

In [ ]:
model.save("housing_model.h5")

In [ ]:
old_model = keras.models.load_model("housing_model.h5")

In [ ]:
test_data = np.array([2003,854,1710,2,1,3,8,2008])
print(old_model.predict(test_data.reshape(1,8), batch_size=1))

[[183955.53]]